/* MapComponent.css */

.esri-popup__content {
    text-align: left;
}

.toggle-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-button.dark-mode {
    background-color: #343a40;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }

.esriPopup.myTheme .contentPane,
.esriPopup.myTheme .actionsPane {
  background-color:#424242;
  color:#fff;
  border-color:0 solid #121310;
}

.esri-icon-favorite {
    color: #ffcc00;
}

.column-container {
    display: flex;
    justify-content: space-between;
}
  
.column {
    width: 40%;
}