.sign-up-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sign-up-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sign-up-container .form-group {
    margin-bottom: 15px;
  }
  
  .sign-up-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sign-up-container .requirements-list {
    list-style-type: none;
    padding: 0;
    font-size: 11px;
    color: #777;
    margin-top: -25px;
    margin-bottom: 15px;
  }
  
  .sign-up-container .requirements-list li::before {
    content: '\2022'; /* Bullet point character */
    color: #777;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .sign-up-container .password-error {
    color: red;
    margin-bottom: 15px;
  }
  
  .sign-up-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-up-container button:hover {
    background-color: #0056b3;
  }
  